<section>
    <h3 class="layout-padding">Service Worker on web app (angularJS & requireJS)</h3>
    <md-button class="md-raised" ng-click="getTodo()" ng-show="!isLoad">
        LOAD TODO
    </md-button>
    <md-button class="md-raised md-primary" ng-click="saveTodo()" ng-show="isLoad">
        SAVE TODO
    </md-button>
</section>
<section ng-show="isLoad">
    <md-subheader class="md-primary">The total todo(s) we have: <b>{{t_length()}}</b></md-subheader>
    <!-- TODO list -->
    <md-list>
        <md-divider></md-divider>
        <md-list-item class="md-1-line" ng-repeat="(key, todo) in todos" >
            <md-checkbox class="md-primary" id={{key}}
            ng-model="todo.done" aria-label="{{todo.name}}">
                <!-- {{todo.name}} <br> -->
            </md-checkbox>
            <label for="{{key}}" class="noselect ng-done-{{todo.done}}">{{todo.name}}</label>
            <md-divider></md-divider>
        </md-list-item>
    </md-list>
</section>

<!-- new TODO -->
<section ng-show="isLoad">
    <md-input-container md-no-float class="md-block" class="layout-padding">
        <label>New todo name</label>
        <input ng-model="newTodo">
    </md-input-container>
    <md-button class="md-raised md-primary" ng-click="addTodo()"
    ng-disabled="!newTodo">
        Add
    </md-button>
    <md-button class="md-raised" ng-click="removeDone()">
        Remove Dones
    </md-button>
</section>
